.contenedor-juego {
    border: 1px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 900px;
    background-color: aliceblue;
}
.titulo-test{
    font-size: 30px;
    font-weight: 800;
}
.pregunta{
    font-size: 20px;
}
.btn-submit{
    margin: 30px;
}

.timer{
    background-color: gold;
    width: 30px;
    display: inline-block;
}

/* robado y adaptado*/
.rb-respuesta
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: darkgray;
     color: white;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.rb-respuesta:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.rb-respuesta:hover
{
     background-color: dimgray;
}
.rb-respuesta:checked
{
     background-color: green;
}
.lbl-respuesta
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: black;
     cursor: pointer;
} 
