.contenedor-juego {
    border: 1px solid black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 900px;
    background-color: aliceblue;
}

.panel-de-datos {}

.panel-de-datos * {
    display: block;
    margin: auto;
    width: 20%;
}

.nombre-p1 {
    font-style: italic;
}

.nombre-p2 {
    font-style: italic;
}

.turno {
    width: 20%;
    margin: auto;
    font-weight: bold;
}

.btn-reiniciar {
    margin: 10px auto 10px auto;
    width: 100px;
}

.ganadas-p1 {
    margin: auto auto 20px auto;
}

.ganadas-p2 {
    margin: auto auto 20px auto;
}

.panel-de-configuracion {
    width: 200px;
    margin: auto;
}

.panel-de-configuracion > * {
    display: block;
    margin: 5px auto 10px auto;
}

.input-p1 {}

.input-p2 {}

.select-size {
    width: 70px;
}

.select-linea {
    width: 100px;
}

h1 {
    font-size: 20px;
    font-family: "Impact";
    text-align: center;
}

.tablero {
    height: 400px;
    width: 400px;
    border: 10px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

td {
    background-color: dimgray;
}

td:hover {
    opacity: 0.9;

}

.celda-1 {
    background-color: red;
}

.celda-2 {
    background-color: green;
}
