.contenedor-juego {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    font-size: 20px;
    font-family: "Impact";
    text-align: center;
}

.campoDeMinas {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

.campoDeMinas td p {
    display: none;
}

.campoDeMinas td.numero p {
    background-color: silver;
}

.campoDeMinas td {
    width: 20px;
    height: 20px;
    background-color: antiquewhite;

}

.panelDeControl div {
    display: inline-block;
    width: 33.33%;
}

.campoDeMinas td.ENABLE {
    border-style: outset;
    background-color: darkgray;
}
.campoDeMinas td.LOCKED {
    border-style: outset;
    background-color: red;
}

.campoDeMinas td.DISABLE {}

.campoDeMinas td.DETONADA {
    border-style: inset;
}

.campoDeMinas td.BOMBAS0 {
    border-style: inset;
}

.campoDeMinas td.BOMBAS1 {
    border-style: inset;
    color: blue;
}

.campoDeMinas td.BOMBAS2 {
    border-style: inset;
    color: green;
}

.campoDeMinas td.BOMBAS3 {
    border-style: inset;
    color: red;
}

.campoDeMinas td.BOMBAS4 {
    border-style: inset;
    color: blueviolet;
}

.campoDeMinas td.BOMBAS5 {
    border-style: inset;
    color: darkred;
}

.campoDeMinas td.BOMBAS6 {
    border-style: inset;
    color: turquoise;
}

.campoDeMinas td.BOMBAS7 {
    border-style: inset;
    color: black;
}

.campoDeMinas td.BOMBAS8 {
    border-style: inset;
    color: cadetblue;
}
