.contenedor-juego {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 720px;
    background-color: aliceblue;
    }
.letra-valor {
    display: inline-block;
    width: 50px;
}

.contenedor-frase{
    margin-top: 50px;
}

.contenedor-frase *{
    display: inline-block;
    margin: 0;
    width: 20px;
    height: 30px;
}
.cod-abajo{
   font-weight: 1000;
    margin-top: 0;
}

.panelConfig *{
    display: block;
    margin: 10px auto 0px auto;
}